<h2>About myTunes</h2>

<p>
  myTunes allows you to manage a collection of online music.
</p>

<p>
  Add links to music and then order your collection into albums and playlists.  You can also #tag your songs for refined filtering.
</p>

<p>
  Add music from anywhere on the net.  
</p>
