<h2>Add New</h2>

<div class="wrapper">
  <div class="left_box">
    <form class="" action="/new" method="post">
      <input type="input" placeholder="Artist" name="artist" value="">

      <input type="input" placeholder="Title" name="title" value="">

      <input type="input" placeholder="Album" name="album" value="">

      <input type="input" placeholder="Genre" name="genre" value="">

      <textarea placeholder="Paste link to song" name="location_url" id="file "rows="3" cols="40"></textarea>

      <select name="song_type">
        <option value="mp3">mp3</option>
        <option value="embed">Embed</option>
        <option value="video">Video Clip</option>
      </select>

      <button>Add New</button>
    </form>
  </div>

  <div class="right_box">

  <div class="info">
    <!--  return message from account creation-->
    <% if @message %>
      <% @message.each do |key, value| %>
        <p class="message" id="<%= @type %>">
        <%= key.to_s.upcase + " " + value.to_s %></p>
      <% end %>
    <% end %>

  </div>

</div>
