<h2>Add New</h2>

<!-- <textarea placeholder="Paste link to song" name="link_to_song" id="file "rows="4" cols="40"></textarea> -->

<p>Select a .mp3 file</p>
<input type="file" id="file" />

<p>
  <label>File Name:</label>
  <span id="filename"></span>
</p>

<p>
  <label>File Type:</label>
  <span id="filetype"></span>
</p>

<p>
  <label>File Size:</label>
  <span id="filesize"></span>
</p>

<p>
  <label>Song Duration:</label>
  <span id="duration"></span>
</p>
