<% if logged_in? %>
  <% user = current_user.username %>
<% end %>
<h2>myTunes <%= user %></h2>

<p class="home_page">
  Welcome to myTunes, where you can manage a collection of online media from a range of sources.
</p>

<p class="home_page">
  You can upload your own mp3's or add links to music hosted elswhere.  You can also embed links to your favourite media from Youtube, Mixcloud and Soundcloud.
</p>

<p class="home_page">
  Add music from anywhere on the net. Sort. Listen. Enjoy.
</p>

<p class="home_page">
  <a href="/account">Create and account to get started.</a>
</p>
